* {
    font-family: myFont;
    margin: 0px;
}

@font-face {
    font-family: myFont;
    src: url(/Roboto/Roboto-Black.ttf);
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}

.dashboard {
    padding-top: 20px;
    background-color: #0D9276;
    align-items: start;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 0.5fr 2fr 3fr;
    gap: 0px;
}

.board{
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.details, .details2{
    display: grid;
    gap: 10px;
}

.dash{
    align-self: center;
}

img{
    width: 4rem;
    justify-self: end;
    align-self: center;
}

.home{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    
    
}

h4{
    align-self: center;
    font-size: 1.5rem;
}

.logo{
    justify-self: end;
    width: 2rem;
}

.nav-bar{
    background-color: #FFF6E9;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

}

.top{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr 2fr;
    align-items: center;
    gap: 20px;
}

.top > .avatar{
    border-radius: 100%;
    width: 3em;
}

input{
    border-radius: 12px;
    border: 1px solid black;
    background-color: #BBE2EC;
    height: 2em;
}

.bottom{
    display: grid;
    grid-template-columns: 6fr  1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.left{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

.left > img {
    border-radius: 100%;
    width: 6em;
    justify-self: end;
}

.hi{
    align-self: center;
    justify-self: start;
}

button{
    background-color: #0D9276;
    height: 2.5em;
    border-radius: 30px;
    border: 0px;
    font-weight: bold;
    font-size: large;
}

.content{
    background-color: #BBE2EC;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects{
    grid-row: 1 / 3;
    padding: 15px;
}

.project-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

h4{
    padding-bottom: 10px;
}

.cool{
    background-color: #FFF6E9;
    padding: 30px;
    border-radius: 12px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    border-left: 7px solid orange;
}

.images{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    gap: 5px;
}

.images > .logo{
    width: 1.5em;
}

.info > #head {
    font-weight: 200;
    font-size: medium;
    opacity: 100%;
}


.info > p {
    font-weight: bold;
    font-size: small;
    opacity: 70%;
}

.announcements{
    padding: 15px;
}

.announcement-content{
    background-color: #FFF6E9;
    padding: 30px;
    border-radius: 12px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

hr {
    margin-top: 1em;
    opacity: 70%;
}

.trends{
    padding: 15px;
}

.trend-content{
    background-color: #FFF6E9;
    padding: 30px;
    border-radius: 12px;
    display: grid;
    gap: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.trends > h4 {
    padding-top: 15px;
}

.trend-content >.home > img {
    border-radius: 100%;
    width: 3em;
}

.about{
    opacity: 60%;
}




