* {
    font-family: Roboto;
    margin: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.dashboard {
    padding-top: 20px;
    background-color: #0D9276;
    align-items: start;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}

.board{
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.details, .details2{
    display: grid;
    gap: 20px;
}

.dash{
    align-self: center;
}

img{
    width: 4rem;
    justify-self: end;
    align-self: center;
}

.home{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    grid-row: 300px;
    
}

h4{
    align-self: center;
    font-size: 1.5rem;
}

.logo{
    justify-self: end;
    width: 2rem;
}

.nav-bar{
    background-color: #FFF6E9;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.top{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr 2fr;
    align-items: center;
    gap: 20px;
}

.top > .avatar{
    border-radius: 100%;
    width: 3em;
}

input{
    border-radius: 12px;
    border: 1px solid black;
    background-color: #BBE2EC;
    height: 2em;
}

.bottom{
    display: grid;
    grid-template-columns: 6fr  1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.left{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

.left > img {
    border-radius: 100%;
    width: 6em;
    justify-self: end;
}

.hi{
    align-self: center;
    justify-self: start;
}

button{
    background-color: #0D9276;
    height: 3em;
    border-radius: 30px;
    border: 0px;
    font-weight: bold;
    font-size: large;
}

.content{
    background-color: #BBE2EC;
    padding: 10px;
}


